name: Build TWRP

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up environment
      run: |
        sudo apt-get update
        sudo apt-get install -y git-core gnupg flex bison build-essential zip curl
        
    - name: Build TWRP
      run: |
        source build/envsetup.sh
        lunch twrp_dove_evb4-eng
        mka recoveryimage
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: TWRP-Recovery
        path: out/target/product/dove_evb4/recovery.img
